#root {
  width: 100%;
  height: auto;  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 12em;
  padding: 1.5em;
  max-width: 100%;
  height: auto;
}
.appRoot{
    max-width: 100%;
}

.headline{
}

.resultText{

}
.image{

}
.resultText{

}
.textInput{

}
.inputButton{
  
}